.our {
  margin: 140px 135px 0px;
}

.our h4 {
  width: 514px;
  height: 56px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 56px;
  /* identical to box height, or 104% */
  color: var(--color-text);
  margin-left: auto;
  margin-right: auto;
}
.our__text {
  width: 672px;
  height: 56px;
  margin-top: 30px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  text-align: center;
  color: var(--color-text02);
  margin-left: auto;
  margin-right: auto;
}

.our__card {
  display: flex;
  justify-content: space-around;
}
.our__card--sec1,
.our__card--sec2,
.our__card--sec3 {
  width: 362px;
  height: 435px;
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(198, 217, 225, 0.9);
  border-radius: 5px;
  text-align: center;
  margin-top: 80px;
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
}
.our__card--sec1__part1,
.our__card--sec2__part1,
.our__card--sec3__part1 {
  display: flex;
  justify-content: space-between;
}
.our__card--sec1__part1 img,
.our__card--sec2__part1 img,
.our__card--sec3__part1 img {
  margin: 30px 30px 0px 30px;
}
.our__card--sec1__part2,
.our__card--sec2__part2,
.our__card--sec3__part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our__card--sec1__part2 img,
.our__card--sec2__part2 img,
.our__card--sec3__part2 img {
  margin-top: 19px;
  width: 120px;
  height: 120px;
}
.our__card--sec1__part2 h2,
.our__card--sec2__part2 h2,
.our__card--sec3__part2 h2 {
  width: 140px;
  height: 36px;
  margin-top: 22px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  color: var(--color-text);
}

.first,
.first02,
.first03 {
  /* width: 88px; */
  height: 12px;
  margin-top: 7px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1px;
  color: var(--color-text02);
}
.our__part2--se,
.our__part2--se02,
.our__part2--se03 {
  width: 134px;
  height: 27px;
  left: 248px;
  margin-top: 47px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-text02);
  opacity: 0.9;
}
.our__part2--th,
.our__part2--th02,
.our__part2--th03 {
  width: 203px;
  height: 26px;
  margin-top: 8px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: var(--color-btn);
}

.page__btn {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(198, 217, 225, 0.3);
  border-radius: 65px;
}
.page__btn--second {
  background: var(--color-btn);
  width: 50px;
  height: 50px;
  box-shadow: 0px 8px 15px rgba(72, 72, 138, 0.08);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
